.computer-icon {
    margin-top: 48px;

    img {
        position: relative;
        // height: 79px;
        // top: 48px;
    }

    .count {
        // position: relative;
        height: 38px;
        bottom: 24px;
        font-size: 35px;
        line-height: 40px;
    }
}