.computer-icon {
    margin-top: 48px;
    position: relative;

    .count {
        // direto do figma
        position: absolute;
        left: 19.42%;
        right: 19.42%;
        top: 17.72%;
        bottom: 27.85%;
        
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        
        color: rgba(0, 0, 0, 0.72);
    }
}