// TODO: MAKE CUSTOM NAVBAR based on component

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    
    h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    
        color: white;
    }

    .clickable {
        cursor: pointer;
    }
}


.container-wrapper {
width: 100%;
display: flex;
justify-content: center;
}

.container {
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
        'profile counter'
        'hacks hacks'
        'projs projs';
    gap: 20px;
}


.profile {
    grid-area: profile;
    background: linear-gradient(140.79deg, #E66833 0%, #DC3636 48.53%, #FA9468 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    .username {
        font-size: 19px;
        line-height: 25px;

        color: #FFFFFF;
    }

    .description {
        font-size: 11px;
        line-height: 14px;
        text-align: center;

        color: #D7D7D7;
    }
}


.counter {
    grid-area: counter;

    text-align: center;

    .description {
        position: relative;
        top: 10px;
    }
}

.list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto 15%;
    grid-template-areas:
        'title'
        'content'
        'link';
    // gap: 20px;

    h2 {
        grid-area: title;
        padding-left: 20px;
        
    }
    
    .empty {
        grid-area: content;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 19px;
            line-height: 25px;
            color: rgba(0, 0, 0, 0.25);
        }
    }

    a {
        grid-area: link;
        text-align: right;
        padding-right: 20px;
    }
    

    &.hacks {grid-area: hacks;}
    &.projects {grid-area: projs;}
}