.boxDialog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;

    width: 322px;
    height: 233px;

    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt {
    text-align: center;
}

.link {
    position: relative;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
    border-radius: 20px;
    
    width: 291.81px;
    height: 33.71px;
    // left: 43.1px;
    // top: 282.52px;

}

.saveButton {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50px;

    background: linear-gradient(135.42deg, #E66833 0%, #DC3636 48.44%, #FA9468 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    span {
        color: white;
    }
}