// @import '../../common/navbar.scss';

// TODO: make this a module scss

.list {
    width: 90%;
    height: 250px;

    // todo: align center
    margin: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    // nesting isn't necessary, it's just for convenience
    span {
        font-size: 19px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.25);
    }
}